<!DOCTYPE html>
<html lang="en">
<head>
<title>CSCB63 Design and Analysis of Data Structures</title>
<link href="../static/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- code for top menu which will stick at the top of the page when scolling-->
  <!-- inspired by https://codepen.io/andornagy/pen/RNeydj-->
  <nav> 
    <!--menu title, change position and font size when it becomes a dropdown menu-->
    <div id="menu-title">Welcome, <strong>{% if user['type']%}Instructor{% else %}Student{% endif %}</strong> {{ user['name'][0] }}</div>
    <!-- dropdown menu for mobile devices-->
    <label for="drop" class="button">≡</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a></li>
      <li>
        <label for="drop-1" class="button">Course Materials</label>
        <a>Course Materials</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-1"/>
        <ul>
          <li><a href="{{ url_for('lectures') }}">Lectures</a></li>
          <li><a href="{{ url_for('home', _anchor='assignments') }}">Assignments</a></li>
          <li><a href="{{ url_for('home', _anchor='tests') }}">Tests</a></li>
          <li><a href="../static/Sample.pdf">Syllabus</a></li>
        </ul> 
      </li>
      <li><a href="{{ url_for('labs') }}">Labs</a></li>
      <li><a href="http://markus.utsc.utoronto.ca/cscb63w21">Markus</a></li>
      <li><a href="{{ url_for('home', _anchor='course-team') }}">Course Team</a></li>
      <li><label for="drop-2" class="button">Account</label>
        <a>Account</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-2"/>
        <ul>
          <li><a href="#top">Grade</a></li>
          <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
          <li><a href="{{ url_for('feedback') }}">Setting</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul> 
      </li>
    </ul>
  </nav>
  <!--the content div controls the max and min width for all the section contents on the body of the page-->
  <div class="content">
    <!-- content for the title, center at the begining of the page but won't stick at the top when scrolling as the header-->
    <div class="title">
      <h1>CSCB63</h1>
      <p>Design and Analysis of Data Structures</p>
    </div>

    <section>
      <h2>Grades</h2><hr>
      <!--only instructors can enter grades of students-->
      {% if user['type'] %}
      <form action="/grading" method="POST">
        <input list="students" name="student" placeholder="username" id="student">
        <datalist id="students">
        </datalist>
        <input list="events" name="event" placeholder="type" id="event">
        <datalist id="events">
                       
        </datalist>
        <input type="number" name="grade" placeholder="grade" min="0" max="100">
        <input type="submit" value="submit">
      </form>
      {% if error %}
        <p class=error>{{ error }}</p>
      {% endif %}
      <div class="table" id="grade-table">
        <div class="heading">
            <div class="cell" id="student-sort">Student</div>
            <div class="cell" id="type-sort">Type</div>
            <div class="cell" id="grade-sort">Grade</div>
            <div class="cell" id="remark-sort" ><a href="/remark-sort">Remark</a></div>
        </div>
        {% for item in grade %}
        <div class="row">
            <div class="cell">{{ item['username'] }}</div>
            <div class="cell">{{ item['ename'] }}</div>
            <div class="cell">{{ item['grade'] }}</div>
            <div class="cell">
            {% if item['remark'] == 1 %}
                <div class="dropdown">
                    <span style="color:red">Remark</span>
                    <div class="dropdown-content"><p>{{ item['request'] }}</p></div>
                </div>
            {% elif item['remark'] == -1 %}
                remarked
            {% endif %}
            </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="table">
        <div class="heading">
          <div class="cell">Type</div>
          <div class="cell">Grade</div>
          <div class="cell">Remark</div>
        </div>
          {% for item in grade %}
          <div class="row">
              <div class="cell">{{ item['ename'] }}</div>
              <div class="cell">{{ item['grade'] }}</div>
              <div class="cell">
              {% if item['remark'] == 1 %}
                proceeding
              {% elif item['remark'] == -1 %}
                remarked
              {% else %}
                <form method="post" action="/grade-remark">
                    <input type="text" class="remark-content" value="" placeholder="Put your reason for remark here." name="remark_request">
                    <input type="submit" value ="remark">
                    <input type="hidden" name="remark_event" value="{{ item['ename'] }}">
              {% endif %}
              </div>
          </div>
          {% endfor %}
      </div>
      {% endif %}
    </section>
  </div>
  <!--content end-->
  <!--a footer with designers' name and link to Faculty CS UofT-->
  <div id="footer">
    <p><a href="http://web.cs.toronto.edu">Faculty of Computer Science at UofT</a></p>
    <p>Site designed by <strong>Jiale Shang</strong> & <strong>Zechen Lai</strong> & <strong>Feilong Qiu</strong></p>
  </div>
  <script>
    var users = JSON.parse('{{ user | tojson | safe}}');
    var grades = JSON.parse('{{ grade | tojson | safe}}');
    
    function option_list(){
        let l1= document.getElementById('students');
        let l2 = document.getElementById('events');
        let buff1=[];
        let buff2=[];
        for (i=0; i< grades.length; i++) {
            a = grades[i]['username'];
            b = grades[i]['ename'];
            if ( ! buff1.includes(a)) {
                buff1.push(a);
                let op = document.createElement('option');
                op.setAttribute('value',a);
                l1.appendChild(op);
            };
            if ( ! buff2.includes(b)) {
                buff2.push(b);
                let op = document.createElement('option');
                op.setAttribute('value',b);
                l2.appendChild(op);
            };
        };
    };
    function remark_sorted(){
        let remark=1;
        for (i=0;i<grades.length;i++){
            if(grades[i].remark != 1){
                remark=0;
            };
        };
        return remark;
    };
    option_list();
    let x=document.getElementById('remark-sort');
    if (remark_sorted()){
        x.innerHTML="<a href='/grade'>Remark</a>"
    }else{
        x.innerHTML="<a href='/remark-sort'>Remark</a>"
    }

  </script>
</body>
</html>
