<!DOCTYPE html>
<html lang="en">
<head>
<title>CSCB63 Design and Analysis of Data Structures</title>
<link href="../static/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <!-- code for top menu which will stick at the top of the page when scolling-->
  <!-- inspired by https://codepen.io/andornagy/pen/RNeydj-->
  <nav> 
    <!--menu title, change position and font size when it becomes a dropdown menu-->
    <div id="menu-title">Welcome, <strong>{% if user['type']%}Instructor{% else %}Student{% endif %}</strong> {{ user['name'][0] }}</div>
    <!-- dropdown menu for mobile devices-->
    <label for="drop" class="button">≡</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a></li>
      <li>
        <label for="drop-1" class="button">Course Materials</label>
        <a>Course Materials</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-1"/>
        <ul>
          <li><a href="{{ url_for('lectures') }}">Lectures</a></li>
          <li><a href="{{ url_for('home', _anchor='assignments') }}">Assignments</a></li>
          <li><a href="{{ url_for('home', _anchor='tests') }}">Tests</a></li>
          <li><a href="../static/Sample.pdf">Syllabus</a></li>
        </ul> 
      </li>
      <li><a href="{{ url_for('labs') }}">Labs</a></li>
      <li><a href="http://markus.utsc.utoronto.ca/cscb63w21">Markus</a></li>
      <li><a href="{{ url_for('home', _anchor='course-team') }}">Course Team</a></li>
      <li><label for="drop-2" class="button">Account</label>
        <a>Account</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-2"/>
        <ul>
          <li><a href="#top">Grade</a></li>
          <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
          <li><a href="{{ url_for('feedback') }}">Setting</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul> 
      </li>
    </ul>
  </nav>
  <!--the content div controls the max and min width for all the section contents on the body of the page-->
  <div class="content">
    <!-- content for the title, center at the begining of the page but won't stick at the top when scrolling as the header-->
    <div class="title">
      <h1>CSCB63</h1>
      <p>Design and Analysis of Data Structures</p>
    </div>
    {% if user['type'] %}
    <section>
      <!--only instructors can enter grades of students-->
      <!-- --------------------------------------------------------------------------// -->
      <h2>Template Changes</h2><hr>
      <label for="grading">Enter a grade of your student:</label>
      <!-- <form action="/grading" method="POST"> -->
      <input list="students" name="student" placeholder="username" id="student">
      <datalist id="students">
      </datalist>
      <input list="events" name="event" placeholder="type" id="event">
      <datalist id="events">                  
      </datalist>
      <input type="number" name="grade" placeholder="grade" min="0" max="100" id="grade">
      <button onclick="appendTemp()">Add to Temp</button>
      <button onclick="archiveTemp()" type="float:right">Submit changes</button>
      <p id="error"></p>
      <div class="table" id="temp-table">
      </div>
      <!-- --------------------------------------------------------------------------// -->
      <!-- </form> -->
    </section>
    <section>
      <h2>Student Grades</h2><hr>
      <form action="/search-grade" method='GET'>
        <input type="text" name="search-student" value="" placeholder="username">
        <select id="search-event" name="search-event">

        </select>
        <input type="number" name="search-grade" value="" min="0" max="100" placeholder="grade">
        <input type="submit" value="Search">
      </form>
      <div class="table" id="grade-table">
        <div class="heading">
            <div class="cell" id="student-sort">Student</div>
            <div class="cell" id="type-sort">Type</div>
            <div class="cell" id="grade-sort">Grade</div>
            <div class="cell" id="remark-sort" ><a href="/remark-sort">Remark</a></div>
        </div>
        
        {% for item in grade %}
        <div class="row">
            <div class="cell">{{ item['username']  }}</div>
            <div class="cell">{{ item['ename'] }}</div>
            <div class="cell">{{ item['grade'] }}</div>
            <div class="cell">
            {% if item['remark'] == 1 %}
                <div class="dropdown">
                    <span style="color:red">Remark</span>
                    <div class="dropdown-content">{{ item['request'] }}</div>
                </div>
            {% elif item['remark'] == -1 %}
                Remarked
            {% endif %}
            </div>
        </div>
        {% endfor %}
      </div>
    </section>
    {% else %}
    <section>
      <h2>Grade</h2><hr>
      <div class="table">
        <div class="heading">
          <div class="cell">Type</div>
          <div class="cell">Grade</div>
          <div class="cell">Remark</div>
        </div>
          {% for item in grade %}
          <div class="row">
              <div class="cell">{{ item['ename'] }}</div>
              <div class="cell">{{ item['grade'] }}</div>
              <div class="cell">
              {% if item['remark'] == 1 %}
                proceeding
              {% elif item['remark'] == -1 %}
                remarked
              {% else %}
                <form method="post" action="/grade-remark">
                    <input type="text" class="remark-content" value="" placeholder="Put your reason for remark here." name="remark_request">
                    <input type="submit" value ="remark">
                    <input type="hidden" name="remark_event" value="{{ item['ename'] }}">
              {% endif %}
              </div>
          </div>
          {% endfor %}
      </div>
    </section>
    {% endif %}
  </div>
  <!--content end-->
  <!--a footer with designers' name and link to Faculty CS UofT-->
  <div id="footer">
    <p><a href="http://web.cs.toronto.edu">Faculty of Computer Science at UofT</a></p>
    <p>Site designed by <strong>Jiale Shang</strong> & <strong>Zechen Lai</strong> & <strong>Feilong Qiu</strong></p>
  </div>
  <script >
    let users = JSON.parse('{{ user | tojson | safe}}');
    let grades = JSON.parse('{{ grade | tojson | safe}}');
    let students = JSON.parse('{{ student | tojson | safe}}');
    let events = JSON.parse('{{ event | tojson | safe}}');
    //-------------------------------------------------
    const log = console.log
    let newGrade = []
    let deleteGrade = []
    const tempTable = document.getElementById("temp-table");
    const gradeTable = document.getElementById("grade-table");
    //let newRemark = []
    function renderTemp(){
      tempTable.innerHTML=
        `<div class="heading">
          <div class="cell">Student</div>
          <div class="cell">Type</div>
          <div class="cell">Grade</div>
          <div class="cell"></div>
        </div>`;
      for (i=0;i<newGrade.length;i++){
        addTemprow(newGrade[i].name,newGrade[i].type,newGrade[i].grad,i);
      };
    };
    function renderTable(){
      
    };
    function addTemprow(stdName,assType,assGrad,i){
      tempTable.innerHTML+=
              `<div class="row">
                <div class="cell">`+stdName+`</div>
                <div class="cell">`+assType+`</div>
                <div class="cell">`+assGrad+`</div>
                <div class="cell"><a class="remove-temp" onclick="remove_row('`+stdName+`','`+assType+`')">X</a></div>
              </div>`
    };
    function appendTemp() {
      const stdName = document.getElementById("student").value;
      const assType = document.getElementById("event").value;
      const assGrad = document.getElementById("grade").value;

      if (!isDataValid(stdName, assType, assGrad)){
        return
      }
      if (!isDataExists(stdName, assType, newGrade,assGrad)){
        const data = {
        name: stdName,
        type: assType,
        grad: assGrad
        };
        newGrade.push(data);
      };
      renderTemp();
    };
    function getXmlDoc(){
      var xmlDoc;
      if(window.XMLHttpRequest){
        xmlDoc = new XMLHttpRequest();
      }else{
        xmlDoc = new ActiveXObject("Microsoft.XMLHTTP");
      }
      return xmlDoc;
    }
    function archiveTemp() { // or submit Temp
      let er=document.getElementById('error');
      // append newGrade to db
      if (newGrade.length == 0){
        er.innerHTML="You must submit at least one grade."
      }else{
        var xmlDoc = getXmlDoc();
        xmlDoc.open('POST','/grading',true);
        xmlDoc.setRequestHeader("Content-type","application/json");
        xmlDoc.send(JSON.stringify({changes: newGrade,deletes: deleteGrade}));
        er.innerHTML="Grade changes sussessfully."
      };
    };
    function isDataValid(name, type, grad) {
      let er=document.getElementById('error');
      if(name == "" || type == "" || grad == ""){
        er.innerHTML="None of the inputs can be empty."
        return false
      }else if (isNaN(grad) || 100 < grad || grad < 0){
        er.innerHTML =`Grade not number or not in range: `+grad+`.`
        return false
      };
      for (i=0;i<students.length;i++){
        if(students[i].username == name){
          return true
        }
      };
      er.innerHTML=`The student is not in your class.`
      return false
    }
    function isDataExists(name, type ,list,grad){
      for (i = 0; i < list.length; i++) {
        if (list[i]['name'] == name && list[i]['type'] == type) {
          list[i]['grad'] =  grad
          return true
        }
      }
    }
    function remove_row(name,type){
      let buff=[];
      for (i=0;i<newGrade.length;i++){
        if(newGrade[i].type != type || newGrade[i].name !=name){
          buff.push(newGrade[i]);
        };
      };
      newGrade=buff;
      renderTemp();
    }

    //------------------------------------------------
    function option_list(){
        let l1= document.getElementById('students');
        let l2 = document.getElementById('events');
        let l3 = document.getElementById('search-event');
        let buff1=[];
        let buff2=[];
        for (i=0; i< events.length; i++) {   
            b = events[i]['ename'];
            if ( ! buff2.includes(b)) {
                buff2.push(b);
                let op = document.createElement('option');
                op.setAttribute('value',b);
                l2.appendChild(op);
                l3.innerHTML+=
                `<option value="`+b+`">`+b+`</option>`
            };
        };
        for (i=0;i<students.length;i++){
            a = students[i]['username'];
            if ( ! buff1.includes(a)) {
                buff1.push(a);
                let op = document.createElement('option');
                op.setAttribute('value',a);
                l1.appendChild(op);
                
            };
        };
    };
    function remark_sorted(){
        let remark=1;
        for (i=0;i<grades.length;i++){
            if(grades[i].remark != 1){
                remark=0;
            };
        };
        return remark;
    };
    if(users.type){
      option_list();
      renderTemp();
      let x=document.getElementById('remark-sort');
      if (remark_sorted()){
          x.innerHTML="<a href='/grade'>Remark</a>"
      }else{
          x.innerHTML="<a href='/remark-sort'>Remark</a>"
      };
    };
  </script>
</body>
</html>