<!DOCTYPE html>
<html lang="en">
<head>
<title>CSCB63 Design and Analysis of Data Structures</title>
<link href="../static/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- code for top menu which will stick at the top of the page when scolling-->
  <!-- inspired by https://codepen.io/andornagy/pen/RNeydj-->
  <nav> 
    <!--menu title, change position and font size when it becomes a dropdown menu-->
    <div id="menu-title">Welcome, <strong>{% if user['type'] %}Instructor{% else %}Student{% endif %}</strong> {{ user['name']['first_name'] }}</div>
    <!-- dropdown menu for mobile devices-->
    <label for="drop" class="button">≡</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
      <li><a href="#top">Home</a></li>
      <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a></li>
      <li>
        <label for="drop-1" class="button">Course Materials</label>
        <a>Course Materials</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-1"/>
        <ul>
          <li><a href="{{ url_for('lectures') }}">Lectures</a></li>
          <li><a href="#assignments">Assignments</a></li>
          <li><a href="#tests">Tests</a></li>
          <li><a href="../static/Sample.pdf">Syllabus</a></li>
        </ul> 
      </li>
      <li><a href="{{ url_for('labs') }}">Labs</a></li>
      <li><a href="http://markus.utsc.utoronto.ca/cscb63w21">Markus</a></li>
      <li><a href="#course-team">Course Team</a></li>
      <li><label for="drop-2" class="button">Account</label>
        <a>Account</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-2"/>
        <ul>
          <li><a href="{{ url_for('grade')}}">Grade</a></li>
          <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
          <li><a href="{{ url_for('setting') }}">Setting</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul> 
      </li>
    </ul>
  </nav>
  <!--the content div controls the max and min width for all the section contents on the body of the page-->
  <div class="content">
    <!-- content for the title, center at the begining of the page but won't stick at the top when scrolling as the header-->
    <div class="title">
      <h1>CSCB63</h1>
      <p>Design and Analysis of Data Structures</p>
    </div>
    <span class="anchor" id="course-descript"></span>
    <!--first section -- Course Description-->
    <section>
      <h2>Course Description</h2><hr>
      <!--container for right splited course description content -- course overview-->
      <div class="info-left">
        <p> Design, analysis, implementation and comparison of efficient data structures for common abstract data types. 
          Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, B-trees, hashing. 
          Amortization: data structures for managing dynamic tables and disjoint sets. 
          Data structures for representing graphs. Graph searches.
        </p>
        <p><strong>Exclusion</strong> CSC263H, CSC265H, (CSCC78H)</p>
        <p><strong>Prerequisite</strong> CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]</p>
        <p><strong>Syllabus</strong> <a href="../static/Sample.pdf">pdf</a></p>
      </div>
      <!--split line for course overview and instructor info, only shown when width <= 824px-->
      <hr class="mobile-split">
      <!--container for right splited course description content -- instroctor information-->
      <div class="info-right">
        <p><strong>Instructor</strong> Dr. Anna Bretscher</p>
        <p><strong>Email</strong> <a
          href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a></p>
        <label><strong>Office Hour</strong> IC 493</label>
        <ul>
          <li><p>Mondays 11:00-12:30</p></li>
          <li><p>Friday 10:40-11:30</p></li>
        </ul>
        <label><strong>Lecture</strong></label>
        <ul>
          <li><p>Wednesdays 15:00-16:00 <a href="http://utoronto.zoom.us/j/89553548645">Zoom Link</a></p></li>
          <li><p>Thursdays 9:10-11:00 <a href="http://utoronto.zoom.us/j/83378932991">Zoom Link</a></p></li>
        </ul>
      </div>
    </section>
    <span class="anchor" id="course-team"></span>
    <!--second section -- Course Team-->
    <section>
      <h2>Course Team</h2><hr>
      <!--course team table-->
      <div class="table">
        <div class="row">
          <div class="cell"></div>
          <div class="cell">Name</div>
          <div class="cell">Office Hour</div>
          <div class="cell"></div>
          <div class="cell">Email</div>
        </div>
        <div class="row">
          <div class="cell">Instructor</div>
          <div class="cell">Anna Bretscher</div>
          <div class="cell">Mon 11:00-12:30; Fri 10:40-11:30</div>
          <div class="cell">IC 493</div>
          <div class="cell"><a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a></div>
        </div>
        <div class="row">
          <div class="cell">Teaching Assistant</div>
          <div class="cell">Sample1</div>
          <div class="cell">Mon 13:00-16:00; Wed 18:00-20:00</div>
          <div class="cell"><a href="http://utoronto.zoom.us/j/83378932991">Zoom Link</a></div>
          <div class="cell"><a href="mailto:sample1@mail.utoronto.ca">sample1@mail.utoronto.ca</a></div>
        </div>
        <div class="row">
          <div class="cell">Teaching Assistant</div>
          <div class="cell">Sample2</div>
          <div class="cell">Thu 14:30-17:30; Fri 13:00-16:00</div>
          <div class="cell"><a href="http://utoronto.zoom.us/j/83378932991">Zoom Link</a></div>
          <div class="cell"><a href="mailto:sample2@mail.utoronto.ca">sample2@mail.utoronto.ca</a></div>
        </div>
        <div class="row">
          <div class="cell">Teaching Assistant</div>
          <div class="cell">Sample3</div>
          <div class="cell">Wed 10:00-13:00; Sun 14:00-18:00</div>
          <div class="cell"><a href="http://utoronto.zoom.us/j/83378932991">Zoom Link</a></div>
          <div class="cell"><a href="mailto:sample3@mail.utoronto.ca">sample3@mail.utoronto.ca</a></div>
        </div>
      </div>
      <!--end of course team table-->
    </section>
    <span class="anchor" id="assignments"></span>
    <!--third section -- Assignment-->
    <section>
      <h2>Assignments</h2><hr>
      <!--assignment table-->
      <div class="table">
        <div class="row">
          <div class="cell"></div>
          <div class="cell">Materials</div>
          <div class="cell">Worth</div>
          <div class="cell">Due</div>
          <div class="cell">Solution</div>
        </div>
        <div class="row">
          <div class="cell">1</div>
          <div class="cell"><a href="../static/Sample.pdf">a1.pdf</a>/<a href="../static/Sample.tex">a1.tex</a></div>
          <div class="cell">5%</div>
          <div class="cell">Feb. 7th 12pm EST</div>
          <div class="cell"><a href="../static/Sample.pdf">Solution</a></div>
        </div>
        <div class="row">
          <div class="cell">2</div>
          <div class="cell"><a href="../static/Sample.pdf">a2.pdf</a>/<a href="../static/Sample.tex">a2.tex</a></div>
          <div class="cell">5%</div>
          <div class="cell">Mar. 6th 11.59pm EST</div>
          <div class="cell"><a href="../static/Sample.pdf">Solution</a></div>
        </div>
        <div class="row">
          <div class="cell">3</div>
          <div class="cell"><a href="../static/Sample.pdf">a3.pdf</a>/<a href="../static/Sample.tex">a3.tex</a></div>
          <div class="cell">5%</div>
          <div class="cell">Mar. 21st 12pm EST</div>
          <div class="cell">Not available</div>
        </div>
        <div class="row">
          <div class="cell">4</div>
          <div class="cell">Not available</div>
          <div class="cell">5%</div>
          <div class="cell">Apr. 10th TBA</div>
          <div class="cell">Not available</div>
        </div>
      </div>
      <!--end of assignment table-->
      For more information, please see <a href="./home.html#grade">Grading Policies</a>.
    </section>
    <span class="anchor" id="tests"></span>
    <!--forth section -- tests-->
    <section>
      <h2>Tests</h2><hr>
      <!--drop down menue for tests info-->
      <ul class="test-menu">
        <!--dorp down options-->
        <li>
            <input type="radio" name="menuopt" id="drop1" />
            <label class="opener" for="drop1"><h3>Term Test 1</h3><hr></label>
            <label class="closer" for="dropclose"><h3>Term Test 1</h3><hr></label>
            <!--dropdown content for TT1-->
            <ul>
              <li><strong>Time</strong> 2021 Feb. 10th, 15:00-16:00</li>
              <li><strong>Worth</strong> 15%</li>
              <li><strong>Sample</strong> <a href="../static/Sample.pdf">TT1_2019_Fall</a></li>
              <li><strong>Solution</strong> <a href="../static/Sample.pdf">TT1_solution</a></li>
            </ul>
        </li>
        <li>
            <input type="radio" name="menuopt" id="drop2" />
            <label class="opener" for="drop2"><h3>Term Test 2</h3><hr></label>
            <label class="closer" for="dropclose"><h3>Term Test 2</h3><hr></label>
            <!--dropdown content for TT2-->
            <ul>
              <li><strong>Time</strong> 2021 Mar. 17th, 15:00-16:00</li>
              <li><strong>Worth</strong> 15%</li>
              <li><strong>Sample</strong> <a href="../static/Sample.pdf">TT2_2019_Fall</a></li>
              <li><strong>Solution</strong> <a href="../static/Sample.pdf">TT2_solution</a></li>
            </ul>
            <input type="radio" name="menuopt" id="dropclose" />
        </li>
        <li>
          <input type="radio" name="menuopt" id="drop3" />
          <label class="opener" for="drop3"><h3>Term Test 3</h3><hr></label>
          <label class="closer" for="dropclose"><h3>Term Test 3</h3><hr></label>
          <!--dropdown content for TT3-->
          <ul>
            <li><strong>Time</strong> 2021 Mar. 24th, 15:00-16:00</li>
            <li><strong>Worth</strong> 15%</li>
            <li><strong>Sample</strong> <a href="../static/Sample.pdf">TT3_2019_Fall</a></li>
            <li><strong>Solution</strong> <a href="../static/Sample.pdf">TT3_solution</a></li>
          </ul>
          <input type="radio" name="menuopt" id="dropclose" />
      </li>
      <li>
        <input type="radio" name="menuopt" id="drop4" />
        <label class="opener" for="drop4"><h3>Final Exam</h3><hr></label>
        <label class="closer" for="dropclose"><h3>Final Exam</h3><hr></label>
        <!--dropdown content for Final-->
        <ul>
          <li><strong>Time</strong> 2021 Apr. 20th, 8:00-10:00</li>
          <li><strong>Worth</strong> 35%</li>
          <li><strong>Sample</strong> <a href="../static/Sample.pdf">Final_2019_Fall</a> <a href="../static/Sample.pdf">Final_2018_Fall</a></li>
        </ul>
        <input type="radio" name="menuopt" id="dropclose" />
      </li>
      </ul>
      <!--end of dropdowns for tests-->
    </section>
    <span class="anchor" id="grade"></span>
    <!--fifth section -- grading policy-->
    <section class="grade">
      <h2>Grading and Policies</h2><hr>
      <h3><a href="#assignments">Assignments</a> (4)</h3>
      <!--lists of policies of assignments-->
      <ul>
        <li>4 each worth 5% for a total of 20%</li>
        <li>Basic understanding questions</li>
        <li>More challenging questions</li>
        <li>Only some of the questions will be graded</li>
        <li>Applied question (programming in C) </li>
      </ul>
      <h3><a href="#tests">Term tests</a> (3)</h3>
      <!--lists of policies of term tests-->
      <ul>
        <li>60 min each held in Wednesday lecture</li>
        <li>Worth 15%, 15%, 15%</li>
        <li>Test 1 covers A1, Test 2 covers A2, Test 3 covers A3</li>
      </ul>
      <h3><a href="#tests">Final exam</a></h3>
      <!--lists of policies of final exam-->
      <ul>
        <li>Worth 35%</li>
      </ul>
    </section>
  </div>
  <!--content end-->
  <!--a footer with designers' name and link to Faculty CS UofT-->
  <div id="footer">
    <p><a href="http://web.cs.toronto.edu">Faculty of Computer Science at UofT</a></p>
    <p>Site designed by <strong>Jiale Shang</strong> & <strong>Zechen Lai</strong> & <strong>Feilong Qiu</strong></p>
  </div>
</body>
</html>