<!DOCTYPE html>
<html lang="en">
<head>
<title>CSCB63 Design and Analysis of Data Structures</title>
<link href="../static/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- code for top menu which will stick at the top of the page when scolling-->
  <!-- inspired by https://codepen.io/andornagy/pen/RNeydj-->
  <nav> 
    <!--menu title, change position and font size when it becomes a dropdown menu-->
    <div id="menu-title">Welcome, <strong>{% if user['type'] %}Instructor{% else %}Student{% endif %}</strong> {{ user['name']['first_name'] }}</div>
    <!-- dropdown menu for mobile devices-->
    <label for="drop" class="button">≡</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a></li>
      <li>
        <label for="drop-1" class="button">Course Materials</label>
        <a>Course Materials</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-1"/>
        <ul>
          <li><a href="{{ url_for('lectures') }}">Lectures</a></li>
          <li><a href="{{ url_for('home', _anchor='assignments') }}">Assignments</a></li>
          <li><a href="{{ url_for('home', _anchor='tests') }}">Tests</a></li>
          <li><a href="../static/Sample.pdf">Syllabus</a></li>
        </ul> 
      </li>
      <li><a href="#top">Labs</a></li>
      <li><a href="http://markus.utsc.utoronto.ca/cscb63w21">Markus</a></li>
      <li><a href="{{ url_for('home', _anchor='course-team') }}">Course Team</a></li>
      <li><label for="drop-2" class="button">Account</label>
        <a>Account</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-2"/>
        <ul>
          <li><a href="{{ url_for('grade')}}">Grade</a></li>
          <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
          <li><a href="{{ url_for('setting') }}">Setting</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul> 
      </li>
    </ul>
  </nav>
  <!--the content div controls the max and min width for all the section contents on the body of the page-->
  <div class="content">
    <!-- content for the title, center at the begining of the page but won't stick at the top when scrolling as the header-->
    <div class="title">
      <h1>CSCB63</h1>
      <p>Design and Analysis of Data Structures</p>
    </div>
    <!-- inspried by https://www.utsc.utoronto.ca/~bretscher/b20/labs.html-->
    <!--first section -- Tutorial Arrangement-->
    <section>
      <h2>Tutorial Sections</h2><hr>
      <p>Please go the tutorial section that you signed up for on <a href="http://acorn.utoronto.ca">Acorn</a>.<br>
      For TAs' contact information, see <a href="{{ url_for('home', _anchor='course-team') }}">Course Team</a>.</p>
      <!--TUT infor table-->
      <div class="table">
        <div class="row">
          <div class="cell">TUT</div>
          <div class="cell">Time</div>
          <div class="cell">TA</div>
          <div class="cell">Place/Zoom link</div>
        </div>
        <div class="row">
          <div class="cell">1</div>
          <div class="cell">Mon 13:00:14:00</div>
          <div class="cell">Sample1</div>
          <div class="cell">TBA</div>
        </div>
        <div class="row">
          <div class="cell">2</div>
          <div class="cell">Tue 12:00:13:00</div>
          <div class="cell">Sample2</div>
          <div class="cell">TBA</div>
        </div>
        <div class="row">
          <div class="cell">3</div>
          <div class="cell">Wed 9:00:10:00</div>
          <div class="cell">Sample3</div>
          <div class="cell">TBA</div>
        </div>
      </div>
      <!--end of TUT infor table-->
    </section>
    <!--second section -- Tutorial materials-->
    <section>  
      <h2>Tutorial Exercises</h2><hr>
      <!--tutorial material table-->
      <div class="table">
        <div class="row">
          <div class="cell">Week</div>
          <div class="cell">Topic</div>
          <div class="cell">Handout</div>
          <div class="cell">Solution</div>
        </div>
        <div class="row">
          <div class="cell">2</div>
          <div class="cell">Worst Case Complexity</div>
          <div class="cell"><a href="../static/Sample.pdf">handout</a></div>
          <div class="cell"><a href="../static/Sample.pdf">solution</a></div>
        </div>
        <div class="row">
          <div class="cell">3</div>
          <div class="cell">AVL Trees Insert/Delete</div>
          <div class="cell"><a href="../static/Sample.pdf">handout</a></div>
          <div class="cell"><a href="../static/Sample.pdf">solution</a></div>
        </div>
        <div class="row">
          <div class="cell">4</div>
          <div class="cell">Practice Term Test Format</div>
        </div>
        <div class="row">
          <div class="cell">5</div>
          <div class="cell">Graph Searching Algorithms</div>
          <div class="cell"><a href="../static/Sample.pdf">Graph Definitions</a>; <a href="../static/Sample.pdf">BFS handout</a>; <a href="../static/Sample.pdf">BFT practice</a></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell">6</div>
          <div class="cell">MSTs and Prims Algorithm</div>
          <div class="cell"><a href="../static/Sample.pdf">handout</a></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell">7</div>
          <div class="cell">Dijkstra</div>
          <div class="cell"><a href="../static/Sample.pdf">handout</a></div>
          <div class="cell"></div>
        </div>
      </div>
      <!--end of tutorial material table-->
    </section>
  </div>
  <!--content end-->
  <!--a footer with designers' name and link to Faculty CS UofT-->
  <div id="footer">
    <p><a href="http://web.cs.toronto.edu">Faculty of Computer Science at UofT</a></p>
    <p>Site designed by <strong>Jiale Shang</strong> & <strong>Zechen Lai</strong> & <strong>Feilong Qiu</strong></p>
  </div>
</body>
</html>