<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login CSCB63</title>
  </head>
  <link rel="stylesheet" href="../static/login.css">
  <body>
    <div class="input_box">
    <form action="/login" method = "post">
        <input id = "input-box_1"  type="text" name="username" placeholder = "username">
        <input id = "input-box_2"  type="password" name="password" placeholder = "password">
        <input type="submit" name="submit-button" value="submit">
      </div>




  </body>
</html>
