<!DOCTYPE html>
<html lang="en">
<head>
<title>CSCB63 Design and Analysis of Data Structures</title>
<link href="../static/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- code for top menu which will stick at the top of the page when scolling-->
  <!-- inspired by https://codepen.io/andornagy/pen/RNeydj-->
  <nav> 
    <!--menu title, change position and font size when it becomes a dropdown menu-->
    <div id="menu-title">Welcome, <strong>{% if user['type'] %}Instructor{% else %}Student{% endif %}</strong> {{ user['name']['first_name'] }}</div>
    <!-- dropdown menu for mobile devices-->
    <label for="drop" class="button">≡</label>
    <input type="checkbox" id="drop"/>
    <ul class="menu">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Piazza</a></li>
      <li>
        <label for="drop-1" class="button">Course Materials</label>
        <a>Course Materials</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-1"/>
        <ul>
          <li><a href="{{ url_for('lectures') }}">Lectures</a></li>
          <li><a href="{{ url_for('home', _anchor='assignments') }}">Assignments</a></li>
          <li><a href="{{ url_for('home', _anchor='tests') }}">Tests</a></li>
          <li><a href="../static/Sample.pdf">Syllabus</a></li>
        </ul> 
      </li>
      <li><a href="{{ url_for('labs') }}">Labs</a></li>
      <li><a href="https://markus.utsc.utoronto.ca/cscb63w21">Markus</a></li>
      <li><a href="{{ url_for('home', _anchor='course-team') }}">Course Team</a></li>
      <li><label for="drop-2" class="button">Account</label>
        <a>Account</a>
        <!-- dropdown items for "Course Materials"-->
        <input type="checkbox" id="drop-2"/>
        <ul>
          <li><a href="{{ url_for('grade')}}">Grade</a></li>
          <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
          <li><a href="{{ url_for('setting') }}">Setting</a></li>
          <li><a href="/logout">logout</a></li>
        </ul> 
      </li>
    </ul>
  </nav>
  <!--the content div controls the max and min width for all the section contents on the body of the page-->
  <div class="content">
    <!-- content for the title, center at the begining of the page but won't stick at the top when scrolling as the header-->
    <div class="title">
      <h1>CSCB63</h1>
      <p>Design and Analysis of Data Structures</p>
    </div>
    <!-- inspried by https://www.utsc.utoronto.ca/~bretscher/b20/labs.html-->
    <section>
      <h2>Account Settings</h2><hr>
      <!--input boxes for each setting of the account-->
        <p>Account Type: <input type="text" disabled value="{% if user['type'] %}Instructor{% else %}Student{% endif %}"></p>
        <p>Username: <input type="text" disabled value="{{ user['username'] }}"></p>
      <!--forms for the settings that can be altered-->
        <p><form method="post">Password: <input type="password" minlength="6" maxlength="18" value = "NotAvailable" name = "password1"> <input type = "password" minlength="6" maxlength="18" required placeholder="Comfirm Password" name = "password2"> <input type = "submit" value = "Reset"> {{error[0]}}</form></p>
        <p><form method="post">First Name: <input type="text" maxlength="255" required value="{{ user['name']['first_name'] }}" name = "first_name"> <input type = "submit" value = "Reset"> {{error[1]}}</form></p>
        <p><form method="post">Last Name: <input type="text" maxlength="255" required value="{{ user['name']['last_name'] }}" name = "last_name"> <input type = "submit" value = "Reset"> {{error[2]}}</form></p>
        <p><form method="post">Email: <input type="text" maxlength="255" value="{{ user['email'] }}" name = email> <input type = "submit" value = "Reset"> {{error[3]}}</form></p>
        <p>Lectrue: <input type="text" disabled value="{% for item in LEC%}{{item['cname']}} {% endfor %}"></p>
    </section>
  </div>
  <!--content end-->
  <!--a footer with designers' name and link to Faculty CS UofT-->
  <div id="footer">
    <p><a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a></p>
    <p>Site designed by <strong>Jiale Shang</strong> & <strong>Zechen Lai</strong> & <strong>Feilong Qiu</strong></p>
  </div>
</body>
</html>