<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login CSCB63</title>
  </head>
  <link rel="stylesheet" href="../static/signup.css">
  <body>
    <div class="sign_box">
    <form action="/signup" method = "post">
        <input id = "email_box"  type="text" name="email" placeholder = "Email">
        <input id = "username_box"  type="text" name="username" placeholder = "Username">
        <input id = "first_name_box"  type="text" name="first_name" placeholder = "First Name">
        <input id = "last_name_box"  type="text" name="last_name" placeholder = "Last Name">
        <input id = "password_box"  type="password" name="password" placeholder = "Password">
        <select name="class" id="class_box">
          <option value="1">Class 1</option>
          <option value="2">Class 2</option>
          <option value="3">Class 3</option>
          <option value="4">Class 4</option>
        </select>
        <input type="submit" name="submit-button" value="submit">
      </div>




  </body>
</html>