body {
	background: #656565;
	font-size:22px;
	line-height: 32px;
	color: #fdf9ee;;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#footer{
	padding:10px;
	text-align:center;
    border-top: 5px solid #8696a7;
    padding-top: 1%;
}
#footer a{
	text-decoration: none;
	transition: 0.4s;
  }
  
a:hover{
	color: #b5c4b1;
}

/* Offset for anchor tags accounting for fixed menu height */
.anchor {
	display: block;
	height: 60px;
	margin-top: -60px; 
  	visibility: hidden;
}


a {
	color: #dfd7d7;
}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.button,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #8696a7;
	width: 100%;
	position: fixed;
	top:0;
	overflow: visible;
}

#menu-title {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
	color:#fffaf4;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0;
	float: left;
	background-color: #8696a7;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#fffaf4;
	font-size:17px;
	text-decoration:none;
	text-align: center;
}

/* Background color change on Hover */
nav a:hover { 
	background-color: #fffaf4; 
	color: #8696a7;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width: 175px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul a:hover {
	background-color: #c1cbd7;
	color: #656565;
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#menu-title {
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
		font-size: 17px;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the menu on hover */
	.button + a,
	.menu, nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}

	/* Stylinf the botton lable */
	.button {
		display: block;
		background-color: #8696a7;
		padding:14px 20px;	
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.button:hover {
		background-color: #dfd7d7;
		color: #8696a7;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's and dropdown item's width to 100% */
	nav ul li, nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul .button{
		padding: 0 40px;
	}
	nav a:hover, nav ul ul a, nav ul ul, .button {
		color:#fffaf4;
		text-align: center;
	}

	nav a:hover, nav ul ul a{
		padding:14px 20px;	
		font-size:17px; 
		background-color: #939391; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
	}
		
	nav ul ul a:hover {
		background-color: #fffaf4;
		color: #8696a7;
	}
}
